@import url('/css/blag.css');
@font-face
{
	font-family: "Not Comic Sans";
	src: url('/fonts/ComicNeueSansID.ttf') format('truetype');
}

* { margin: 0; box-sizing: border-box; }

:root
{
	cursor: url('/img/cursor-p.png'), auto;
	--teaos-background: #7090FF;
	--teaos-border: #EEDDCC;
}

header
{
	display: inline-flex;
	width: 100%;
	background: url('/img/bluchekr.bmp') round left top;
	background-size: 5vmin;

	& h1
	{
		display: flex;
		user-select: none;
		cursor: url('/img/cursor-s.png'), auto;
		color: yellow;
		font-family: Bitter;
		font-size: 12.5vmin;
		padding: 0 2vmin;
		text-decoration: none;
		text-shadow: 0.6vmin 0.5vmin 0 black;

		&:hover
		{
			filter: saturate(50%) brightness(120%);
		}

		&:active
		{
			filter: brightness(80%) contrast(50%);
		}

		& b
		{
			font-size: 15.5vmin;
			text-decoration: underline;
		}
	}

	& .stinger
	{
		color: lightgoldenrodyellow;
		align-self: end;
		transform-origin: left;
		transform: rotate(-5deg);
		font-size: 2vmin;
		font-style: italic;
		font-family: monospace;
		text-shadow: 0.25vmin 0.3vmin 0 black;
		padding-bottom: 1vmin;
	}
}

.teaos
{
	background: var(--teaos-background);

	& #main
	{
		display: flex;

		& .panel
		{
			display: flex;
			flex-direction: column;
			background: mediumorchid;
/*			flex-basis: 50vw;*/ /* uncomment this when more panels are added */
			border: darkorchid solid 0.6vmin;
			border-radius: 2vmin 2vmin 0 0;
			overflow: hidden;
			margin: 1vmin;
/*			margin-left: auto;*/ /* uncomment this when more panels are added */
			height: 79.5vh;

			& .label
			{
				padding: 0.5vw 1vw;
				display: flex;
				align-items: center;
				background: rgba(0, 0, 0, 0.15);

				& button
				{
					cursor: url('/img/cursor-s.png'), auto;
					color: blue;
					padding: 0 1.5vmin;
					margin-right: 1vw;
					font-family: sans-serif;
					font-size: 2vw;
					max-height: 6vh;
					white-space: nowrap;
					text-decoration: underline;
					background: mediumturquoise;
					border-style: outset;
					border-color: turquoise;
					border-width: 0.5vmin;

					&:hover
					{
						filter: brightness(110%);
					}

					&:active
					{
						color: red;
						border-style: inset;
						filter: brightness(80%);
					}
				}

				& .tagline
				{
					display: flex;
					color: violet;
					font-family: "Not Comic Sans";
					font-size: 1.8vw;
					word-break: break-word;

					& del
					{
						text-decoration: line-through;
						text-decoration-style: double;
						text-decoration-thickness: 0.2vmin;
					}
				}
			}

			& .embed
			{
				height: 100%;
				padding: 2vmin 2vmin 2vmin 2vmin;
				overflow-y: scroll;
				scrollbar-width: none;
				list-style: none;
				mask-image: linear-gradient(to bottom, transparent 0%, black 2vmin, black calc(100% - 5vmin), transparent 100%);
			}
		}
	}
}