:root
{
	--teaos-background: radial-gradient(ellipse at center 0, rgba(57, 87, 92, 1) 100%, rgba(99, 134, 145, 1) 0%);
	--teaos-border: #EEDDCC;
}

@font-face
{
	font-family: 'NotoSansDisplay';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/NotoSansDisplay/NotoSansDisplay-Regular.ttf') format('truetype');
}

@font-face
{
	font-family: 'NotoSansDisplay';
	font-style: italic;
	font-weight: normal;
	src: url('fonts/NotoSansDisplay/NotoSansDisplay-Italic.ttf') format('truetype');
}

@font-face
{
	font-family: 'NotoSansDisplay';
	font-style: normal;
	font-weight: bold;
	src: url('fonts/NotoSansDisplay/NotoSansDisplay-Bold.ttf') format('truetype');
}

@font-face
{
	font-family: 'NotoSansDisplay';
	font-style: italic;
	font-weight: bold;
	src: url('fonts/NotoSansDisplay/NotoSansDisplay-BoldItalic.ttf') format('truetype');
}

@font-face
{
	font-family: 'NotoSansDisplay';
	font-style: normal;
	font-weight: light;
	src: url('fonts/NotoSansDisplay/NotoSansDisplay-Light.ttf') format('truetype');
}

@font-face
{
	font-family: 'NotoSansDisplay';
	font-style: italic;
	font-weight: light;
	src: url('fonts/NotoSansDisplay/NotoSansDisplay-LightItalic.ttf') format('truetype');
}

@font-face
{
	font-family: 'NotoSansDisplay';
	font-style: normal;
	font-weight: lighter;
	src: url('fonts/NotoSansDisplay/NotoSansDisplay-ExtraLight.ttf') format('truetype');
}

@font-face
{
	font-family: 'NotoSansDisplay';
	font-style: italic;
	font-weight: lighter;
	src: url('fonts/NotoSansDisplay/NotoSansDisplay-ExtraLightItalic.ttf') format('truetype');
}

@font-face
{
	font-family: 'NotoSansDisplay';
	font-style: normal;
	font-weight: thin;
	src: url('fonts/NotoSansDisplay/NotoSansDisplay-Thin.ttf') format('truetype');
}

@font-face
{
	font-family: 'NotoSansDisplay';
	font-style: italic;
	font-weight: thin;
	src: url('fonts/NotoSansDisplay/NotoSansDisplay-ThinItalic.ttf') format('truetype');
}

@font-face
{
	font-family: 'Frutiger';
	font-style: normal;
	font-weight: normal;
	src: local('Frutiger'), url('fonts/Frutiger.woff') format('woff');
}

@font-face
{
	font-family: 'Frutiger';
	font-style: normal;
	font-weight: bold;
	src: local('Frutiger Bold'), url('fonts/Frutiger_bold.woff') format('woff');
}

@font-face
{
	font-family: 'Frutiger';
	font-style: normal;
	font-weight: light;
	src: local('Frutiger Light'), url('fonts/Frutiger Light.ttf'), format('truetype');
}

body
{
	display: flex;
	flex-direction: column;
	height: 100vh; margin: 0;
}

.use-custom-cursor,
.use-custom-cursor *
{ cursor: url('img/airplane_cursor_low-res.png') 1 2, auto; }

.inset
{
	background-color: #454545;
	color: transparent;
	text-shadow: 1.8px 1.8px 1px rgba(255, 255, 255, 0.7);
	-webkit-background-clip: text;
}

.header
{
	display: flex;
	height: 20vh;
	align-items: center;
	text-align: center;
	padding-left: 1%;
	margin-top: 0;
	background:  radial-gradient(100% 90% at center top, rgba(17, 80, 105, 0.95) 0%, rgba(52, 158, 194, 0.95) 95%);
	font-family: NotoSansDisplay;
	h1
	{
		font-weight: lighter;
		font-size: 90px;
		display: flex;
		user-select: none;
		b
		{
			font-size: 120px;
		}
	}
}

#teaos
{
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	background: var(--teaos-background);
}

#teaos .content
{
	margin: 10px;
}

#teaos .button
{
	width: 200px;
	height: 80px;
	font-family: Bitter;
	font-size: 62px;
	text-align: center;
	vertical-align: middle;
}