:root
{
	--teaos-border: #eeddcc;
	--teaos-background: radial-gradient(ellipse at center 0, #39575cff 100%, #638691ff 0%);
	--teaos-gradient-blue: radial-gradient(100% 90% at center top, #115069f2 0%, #349ec2f2 95%);;
	--teaos-gradient-green: radial-gradient(100% 90% at center top, #5bd363f2 0%, #549c43f2 95%);;
	--teaos-gradient-green-hover: radial-gradient(100% 90% at center top, #5fdc67f2 0%, #58a745f2 95%);;
	--teaos-gradient-green-active: radial-gradient(100% 90% at center top, #49b851f2 0%, #40a247f2 95%);;
}

body
{
	display: flex;
	flex-direction: column;
	height: 100vh; margin: 0;
}

.use-custom-cursor,
.use-custom-cursor *
{ cursor: url('img/airplane_cursor_low-res.png') 1 1, auto; }

.use-custom-cursor a,
.use-custom-cursor a *
{ cursor: url('img/airplane_cursor_low-res_select.png') 3 22, auto; }

.inset
{
	text-transform: lowercase;
	background: linear-gradient(0deg, #a6a6a6 0%, #d3d4d3 100%);
	filter: drop-shadow(0px -2px 1px #00000034);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

a.inset:hover
{
	text-transform: lowercase;
	background: linear-gradient(0deg, #bababa 0%, #dfdfdf 100%);
	filter: drop-shadow(0px -2px 1px r#00000034);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

a.inset:active
{
	text-transform: lowercase;
	background: linear-gradient(0deg, #9b9b9b 0%, #c8c9c8 100%);
	filter: drop-shadow(0px -2px 1px #00000034);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.header
{
	height: 140px;
	background: var(--teaos-gradient-blue);
	display: flex;
	height: 140px;
	justify-content: center;
	align-items: flex-end;
	a
	{
		text-decoration: none;
		font-family: NotoSansDisplay;
		font-weight: lighter;
		font-size: 90px;
		b
		{
			font-size: 110px;
		}
	}
}

#teaos
{
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	background: var(--teaos-background);
}

#teaos .content
{
	margin: 10px;
}

#teaos .button
{
	width: 200px;
	height: 200px;
	font-family: Bitter;
	font-size: 62px;
	text-align: center;
	vertical-align: middle;
	background: var(--teaos-gradient-green);
	border: none;
	border-radius: 15px;
}

#teaos .button:hover
{
	background: var(--teaos-gradient-green-hover);
}

#teaos .button:active
{
	background: var(--teaos-gradient-green-active);
}